force-app/main/default/flows/Tenant_Screening.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>TenantScreening</name>
        <label>TenantScreening</label>
        <locationX>571</locationX>
        <locationY>502</locationY>
        <defaultConnector>
            <targetReference>New_Tenant</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>YourSSN</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>TenantSSN.SSN__c</elementReference>
                </rightValue>
            </conditions>
            <label>exist</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Tenant Screening {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Tenant Screening</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>New_Tenant</name>
        <label>New Tenant</label>
        <locationX>959</locationX>
        <locationY>344</locationY>
        <inputReference>TenantSSN</inputReference>
    </recordCreates>
    <recordLookups>
        <name>TenantSSN</name>
        <label>TenantSSN</label>
        <locationX>588</locationX>
        <locationY>354</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TenantScreening</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SSN__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>YourSSN</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Tenant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>New_Tenant_Form</name>
        <label>New Tenant Form</label>
        <locationX>590</locationX>
        <locationY>182</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>TenantSSN</targetReference>
        </connector>
        <fields>
            <name>name</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>YourSSN</name>
            <dataType>String</dataType>
            <fieldText>Your SSN</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Continue</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>New_Tenant_Form</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
